<div class = "text-center">
  <%= form_with(model: theatre) do |form| %>
    <% if theatre.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(theatre.errors.count, "error") %> prohibited this theatre from being saved:</h2>

        <ul>
          <% theatre.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>