<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style= "margin-inline-end: -15px;">
    <a class="navbar-brand" style= "margin-inline-start: 10px;" href="http://localhost:3000/" > <%= image_tag "ticket_logo.jpg", width:60%></a>
    <div class="dropdown">
      <%= form_with url: movie_tickets_path, method: :get do |form| %>
        <%= form.select :location, options_from_collection_for_select(Location.all, "id", "name") %>
        <%= form.submit%>
      <% end %>
    </div>
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-light" data-bs-toggle = "dropdown" style= "margin-inline-end: 20px;">Profile</a>
        <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item"><%= link_to "history", payments_path, class:"btn bg-transparent" %></a>
          <a href="http://localhost:3000/users/edit" class="dropdown-item">edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><%=button_to "logout",destroy_user_session_path, method: :delete, class:"btn bg-transparent"%></a>
        </div>
      </li>
    </ul>                    
  </nav>
</div>
<div class = "text-center">
  <h1>Editing theatre</h1>
  <%= render "form", theatre: @theatre %>
  <br>
  <div>
    <%= link_to "Show this theatre", @theatre %> |
    <%= link_to "Back to theatre", theatre_path %>
  </div>
</div>