<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style= "margin-inline-end: -15px;">
    <a class="navbar-brand" style= "margin-inline-start: 10px;" href="http://localhost:3000/" > <%= image_tag "ticket_logo.jpg", width:60%></a>
    <div class="dropdown">
      <%= form_with url: movie_tickets_path, method: :get do |form| %>
        <%= form.select :location, options_for_select(Location.all.map{|loc| [loc.name, loc.id]}.insert(0,"Hyderabad")) %>
        <%= form.submit%>
      <% end %>
    </div>
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-light" data-bs-toggle = "dropdown" style= "margin-inline-end: 20px;">Profile</a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="http://localhost:3000/admin_user/users/edit" class="dropdown-item">edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><%=button_to "logout",destroy_user_session_path, method: :delete, class:"btn bg-transparent"%></a>
        </div>
      </li>
    </ul>                    
  </nav>
</div>

<div class="text-center">
  <% @theatres.each do |theatre|%>
    <div class="theatre"> <br>
      <%= render theatre %>
      <%= link_to "show", theatre%> 
    </div>
  <% end %>
</div>

<% if current_user.role == 'admin' || current_user.role == 'super_user' %>
    <%= link_to "Add theatre", new_theatre_path %> 
<% end %>
