<div class = "text-center">
  <%= form_with(model: seat) do |form| %>
    <% if seat.errors.any? %>
      <div style="color: red">
        <h3><%= pluralize(seat.errors.count, "error") %> :</h3>

        <ul>
          <% seat.errors.each do |error| %>
            <%= error.full_message %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class = "row py-5">
      <div class = "col-lg-4 mx-auto">
        <div>
          <%= form.label :seat_number, style: "display: block"  %>
          <%= form.number_field :number, class: "form-control py-2"  %>
        </div>

        <div>
          <%= form.label :movie_ticket_id, style: "display: block"  %>
          <%= form.number_field :number, class: "form-control py-2"  %>
        </div>

        <div>
          <%= form.label :booked, style: "display: block"  %>
          <%= form.text_field :number, class: "form-control py-2"  %>
        </div>

        <div>
          <%= form.label :price %>
          <%= form.text_field :price, class: "form-control py-2"  %>
        </div>

        <br>
        
        <div>
          <%= form.submit "Submit", class: "btn btn-dark"%>
        </div>
      </div>
    </div>
  <% end %>
</div>