<header id="myHeader">
	<div class="container">
    <h1 style="color:white"> <%= image_tag "ticket_logo.jpg", width:90%> BookMyTicket </h2>
		<div class="nav">
      <ul>
        <% if  current_user%>
          <%if current_user%>
            <div class = "user-page">
              <%=link_to "Explore Movies", users_movie_tickets_path, class:"btn btn-danger"%>
            </div>
          <%end%>
          <div class="row">
            <% @movie_tickets.each do |movie_ticket|%>
              <div class="col-md-4">
                <div class="movie_ticket-box">
                  <%= render movie_ticket %>
                </div>
              </div>
            <% end %>
          </div>
        <% elsif current_admin%>
          <%if current_admin.role == "admin" %>
            <div class="sidebar">
                <i class="fa fa-fw fa-home" style = "color:white"></i><br>
                <%=link_to "Movies", admins_movie_tickets_path, class:"btn btn-dark"%> <br></br>
                <%=link_to "Add Movies", admins_new_movie_tickets_path, class:"btn btn-dark"%><br></br>
                <%=link_to "Shows", admins_shows_path, class:"btn btn-dark"%>  <br></br>
                <%= link_to "Theatres", admins_theatres_path, class: "btn btn-dark" %><br></br>
                <%= link_to "Locations", admins_locations_path, class: "btn btn-dark" %> <br></br> 
                <a><i class="fa fa-sign-out" style = "color:white"></i><br><%= button_to "LOGOUT",destroy_admin_session_path, method: :delete, class:"btn btn-dark"%> </a> <br> <br/> 
            </div>
            <div class="main">
              <h2>Welcome Admin</h2>
              <p></p>
              <p></p>
              <p></p>
            </div>
          </div>
          <% end %>
          <%if current_admin.role=="super_user"%>
            <div class="sidebar">
            <i class="fa fa-fw fa-home" style = "color:white"></i><br>
            <%=link_to "Movies", admins_movie_tickets_path, class:"btn btn-dark"%> <br></br>
            <%=link_to "Add Movies", admins_new_movie_tickets_path, class:"btn btn-dark"%><br></br>
            <%=link_to "Shows", admins_shows_path, class:"btn btn-dark"%>  <br></br>
            <%= link_to "Theatres", admins_theatres_path, class: "btn btn-dark" %><br></br>
            <%= link_to "Locations", admins_locations_path, class: "btn btn-dark" %> <br></br> 
            <%=link_to "Add admin users", admin_users_path, class:"btn btn-dark"%>
            <a><i class="fa fa-sign-out" style = "color:white"></i><br><%= button_to "LOGOUT",destroy_admin_session_path, method: :delete, class:"btn btn-dark"%> </a> <br> <br/> 
        </div>
        <div class="main">
          <h2>Welcome superadmin</h2>
          <p>About</p>
          <p></p>
          <p>.</p>
        </div>
      </div>
          <%end%>
        <%else%>
        <div class= "main-page" style = "margin-left:900px;">
          <li class="active"><a href="#"> <%=link_to "Sign In", new_user_session_path%></a></li>
          <li class="active"><a href="#"><%=link_to "Sign Up", new_user_registration_path%></a></li> 
          <li class="active"><a href="#"><%=link_to " ADMIN", new_admin_session_path%></a></li> 
        </div>  
          <div class = "home-page">
            <div class="row">
              <% @movie_tickets.each do |movie_ticket|%>
                <div class="col-md-3" onclick="show(this)">
                  <div class="movie_ticket-box">
                    <%= render movie_ticket %>
                    <%= link_to "", movie_ticket%> 
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <%end%>    
      </ul> 
    </div> 
  </div>
</header>
<%= javascript_include_tag "show" %>


