<header id="myHeader">
	<div class="container">
    <h1 style="color:white"> <%= image_tag "ticket_logo.jpg", width:90%> BookMyTicket </h2>
		<div class="nav">
      <ul>
        <% if current_user%>
          <%if current_user.role=="admin"%>
            <%=link_to "User View", movie_tickets_path, class:"btn btn-danger"%>
            <%=link_to "Add Movies", new_movie_ticket_path, class:"btn btn-danger"%>
            <%=link_to "Shows", shows_path, class:"btn btn-danger"%>  
            <%= link_to "Theatres", theatres_path, class: "btn btn-danger" %>
            <%= link_to "Locations", locations_path, class: "btn btn-danger" %>  
          <%end%>

          <%if current_user.role=="super_user"%>
            <%=link_to "All Movies", movie_tickets_path, class:"btn btn-danger"%>
            <%=link_to "Add admin users", admin_users_path, class:"btn btn-danger"%>
          <%end%>

          <%if current_user.role=="user"%>
            <%=link_to "Explore Movies", movie_tickets_path, class:"btn btn-danger"%>
          <%end%>
        <%else%>
            <li class="active"><a href="#"> <%=link_to "Sign In", new_user_session_path%></a></li>
            <li class="active"><a href="#"><%=link_to "Sign Up", new_user_registration_path%></a></li>      
        <%end%>      
      </ul>
    </div>
  </div>
</header>


  <div class="row">
    <% @movie_tickets.each do |movie_ticket|%>
      <div class="col-md-4">
        <div class="movie_ticket-box">
          <%= render movie_ticket %>
          <%= link_to "Show", new_user_session_path %>
        </div>
      </div>
    <%end%>
  </div>