<%= form_with(model: @payment, url: payments_path) do |form| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being processed:</h2>

      <ul>
        <% @payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "row py-5">
    <div class = "col-lg-4 mx-auto">
    <h3> Payment </h3>
      <div class="field">
        <%= form.label :movie_ticket_id,style: "display: block"  %>
        <%= form.select :movie_ticket_id, options_for_select(MovieTicket.all.map { |movie| [movie.movie_name, movie.id] }) %>
      </div>

      <div class="field">
        <%= form.label :user_id, style: "display: block"  %>
        <%= form.number_field :user_id, class: "form-control py-2" %>
      </div>

      
      <div class="field">
        <%= form.label :total_amount, style: "display: block"  %>
        <%= form.text_area :total_amount, class: "form-control py-2" %>
      </div>
      
      <div class="field">
        <%= form.label :seat_id, style: "display: block"  %>
        <%= form.text_area :seat_id, class: "form-control py-2" %>
      </div>
       <br>
      <div class="actions">
        <%= form.submit"checkout", class: "btn btn-dark" %>
      </div>
    </div> 
  </div>
<% end %>