<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style= "margin-inline-end: -15px;">
    <a class="navbar-brand" style= "margin-inline-start: 10px;" href="http://localhost:3000/" > <%= image_tag "ticket_logo.jpg", width:60%></a>
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-light" data-bs-toggle = "dropdown" style= "margin-inline-end: 20px;">Profile</a>
        <div class="dropdown-menu dropdown-menu-end">
        <a class="dropdown-item"><%= link_to "history", payments_path, class:"btn bg-transparent" %></a>
          <a href="http://localhost:3000/users/edit" class="dropdown-item">edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><%=button_to "logout",destroy_user_session_path, method: :delete, class:"btn bg-transparent"%></a>
        </div>
      </li>
    </ul>                    
  </nav>
</div>
<%= render @payment %>

<%= form_with url: payment_share_payment_path, method: :get do |form| %>
  <%= form.label :recipient_email %>
  <%= form.email_field :recipient_email %>
  <%= form.submit "Share",  class: "btn btn-dark" %>
<% end %>

