<div id="<%= dom_id booked_ticket %>">



  <p>
    <strong>movie_name</strong>
    <%= booked_ticket.movie_ticket_id %>
  </p>
  

  <p>
    <strong>Show time</strong>
    <%= booked_ticket.show_id %>
  </p>


  <p>
    <strong>user_id:</strong>
    <%= booked_ticket.user_id %>
  </p>

  <p>
  <strong>seat_id:</strong>
  <%= booked_ticket.seat_id %>
</p>

</div>