<div class = "text-center">
  <%= form_with(model: show) do |form| %>
    <% if show.errors.any? %>
      <div style="color: red">
        <h3><%= pluralize(show.errors.count, "error") %> : </h3>
  
        <ul>
          <% show.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class = "row py-5">
      <div class = "col-lg-4 mx-auto">
        <div>
          <%= form.label :TimeSlot, style: "display: block" %>
          <%= form.text_field :time, class: "form-control py-2" %>
        </div>
        <br>
        <div>
          <%= form.submit "Submit", class: "btn btn-dark" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
  
  