<div id="<%= dom_id movie_ticket %>">

  <p>
    <%= image_tag (movie_ticket.image.url)%>
  </p>

  <p>
    <strong>Movie:</strong>
    <%= movie_ticket.movie_name %>
  </p>
  

  <p>
    <strong>Date:</strong>
    <%= movie_ticket.date %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= movie_ticket.show.time %>
  </p>

  <p>
    <strong>Theatre:</strong>
    <%= movie_ticket.theatre.name %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= movie_ticket.location.name %>
  </p>

</div>
