<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style= "margin-inline-end: -15px;">
    <a class="navbar-brand" style= "margin-inline-start: 10px;" href="http://localhost:3000/" > <%= image_tag "ticket_logo.jpg", width:60%></a>
    <div class="dropdown">
      <%= form_with url: movie_tickets_path, method: :get do |form| %>
        <%= form.select :location, options_for_select(Location.all.map{|loc| [loc.name, loc.id]}.insert(0,"Hyderabad"))%>
        <%= form.submit "check", class: "btn btn-dark" %>
      <% end %>
    </div>
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-light" data-bs-toggle = "dropdown" style= "margin-inline-end: 20px;">Profile</a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="http://localhost:3000/users/edit" class="dropdown-item">edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><%=button_to "logout",destroy_user_session_path, method: :delete, class:"btn bg-transparent"%></a>
        </div>
      </li>
    </ul>                    
  </nav>
</div>

<div class="row">
  <% @movie_tickets.each do |movie_ticket|%>
    <div class="col-md-3" onclick="show(this)">
      <div class="movie_ticket-box">
        <%= render movie_ticket %>
         <%= link_to "", movie_ticket%> 
      </div>
    </div>
  <% end %>
</div>
 

<div class = "mx-auto" style="width: 200px;">
  <%= will_paginate @movie_tickets %>
</div>

<%= javascript_include_tag "show" %>
