<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark" style= "margin-inline-end: -15px;">
    <a class="navbar-brand" style= "margin-inline-start: 10px;" href="http://localhost:3000/" > <%= image_tag "ticket_logo.jpg", width:60%></a>
    <div class="dropdown">
      <%= form_with url: movie_tickets_path, method: :get do |form| %>
        <%= form.select :location, options_for_select(Location.all.map{|loc| [loc.name, loc.id]}.insert(0,"Hyderabad")) %>
        <%= form.submit%>
      <% end %>
    </div>
    <ul class="nav navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-light" data-bs-toggle = "dropdown" style= "margin-inline-end: 20px;">Profile</a>
        <div class="dropdown-menu dropdown-menu-end">
          <a href="http://localhost:3000/admin_user/users/edit" class="dropdown-item">edit</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item"><%=button_to "logout",destroy_user_session_path, method: :delete, class:"btn bg-transparent"%></a>
        </div>
      </li>
    </ul>                    
  </nav>
</div>
<h2 >Admin Users</h2>
  <table class="table"> 
    <thead>
      <tr>
        <th>Name</th> 
        <th>Options</th> 
      </tr>
    </thead>
    <tbody> 
    <% @locations.each do |location|%>
        <tr>
          <td><%= location.name %></td>
          <td style="display:flex; flex-direction:row;">
            <%= link_to "Show", location, class: "btn btn-success" %>
            <%= link_to "Edit", location, class: "btn btn-primary" %>
            <%= button_to "Destroy", @location, method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% if current_admin.role == 'admin' || current_admin.role == 'super_user' %>
  <%= link_to "Add location", new_location_path, class: "btn btn-dark" %> 
<% end %>
